# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Скомпилированные файлы Java
# =========================
*.class

# =========================
# Директории сборки и вывода
# =========================
/out/
/build/
/target/          # для Maven/Gradle

# =========================
# Локальные конфигурации и ОС
# =========================
.DS_Store          # macOS
Thumbs.db          # Windows
*.log
*.tmp

# =========================
# Прочие артефакты
# =========================
*.jar
*.war
*.ear
